body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #163152;
    background-color: #FDFDFF;
    margin: 0;
}

.main-header {
   width: 1170px;
   margin: 0 auto;
   margin-bottom: 40px;
   padding: 20px 55px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.logo-header {
    width: 64px;
    height: 68px;
    margin: 0;
    margin-right: auto;
}

.main-nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 40px;
    margin-left: auto;
    max-width: 990px;
}

.main-nav-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    color: #163152;
    text-transform: uppercase;
}

.main-nav-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}
  
.main-nav-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.personal-area-header {
    width: 36px;
    height: 36px;
}

.personal-area-header:hover {
    opacity: 0.5;
}

.personal-area-header:active {
    opacity: 0.3;
}

.main-content {
   width: 1170px;
   margin: 0 auto;
   padding: 0 55px;
}

.hero-block {
    margin-bottom: 120px;
}

.hero-block h1 {
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: 70px;
    font-weight: normal;
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
}

.hero-block img {
    display: block;
}

.article {
    width: 1030px;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.children-article {
    margin-bottom: 120px;
    flex-direction: row-reverse;
}

.article-content-container {
    width: 400px;
}

.article-dates {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.article-title {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.article img {
    width: 600px;
}

.team-article-img {
    margin-left: 30px;
}

.children-article-img {
    margin-right: 30px;
}

.gallery {
    margin-bottom: 120px;
}
  
.gallery-title {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00c6bd;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}
  
.slider {
    display: flex;
    align-items: flex-start;
}
  
.active-photo {
    width: 970px;
    margin-right: 30px;
}
  
.preview-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 170px;
    height: 690px;
    justify-content: space-between;
}

.preview-list a {
    position: relative;
    display: block;
}
  
.preview-list a::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
  
.preview-list a.active-item::before {
    background-color: transparent;
}

.news {
    width: 770px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.news-title {
    margin: 0;
    padding: 0;
    margin-bottom: 55px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.news figure {
    margin: 0;
    margin-bottom: 33px;
}

.news-img {
    width: 770px;
    margin-bottom: 17px;
}

.news-img-description {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.news h3 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
}

.news h4 {
    margin: 0;
    padding: 0;
}

.news p {
    font-size: 18px;
    line-height: 26px;
}

.news .teams-list-title {
    font-size: 20px;
    line-height: 26px;
}

.news .teams-list {
    margin: 0;
    padding: 19px;
}

.news .teams-list li {
    margin-bottom: 8px;
}

.news .teams-list li:last-child {
    margin-bottom: 0;
}

.news .news-comment {
    font-size: 26px;
    line-height: 36px;
    border-left: 2px solid #00C6BD;
    margin: 0;
    height: 72px;
    padding: 0 20px;
}

.news .news-footer {
    display: flex;
    align-items: center;
}

.news .news-footer img {
    margin-right: 15px;
}

.news .news-footer a {
    margin-left: auto;
}

.news-author-name {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #163152;
}

.news-author-name:hover {
    opacity: 0.5;
}

.news-author-name:active {
    opacity: 0.3;
}

.news .news-post time {
    font-size: 16px;
    line-height: 19px;
    color: #8693A4;
}

.news-share:hover {
    opacity: 0.5;
}
  
.news-share:active {
    opacity: 0.3;
}

.contacts {
    width: 1170px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contacts-content {
    width: 400px;
    align-self: center;
}

.contacts h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
    text-decoration: underline;
    text-decoration-color: #00C6BD;
    text-decoration-thickness: 2px;
    text-underline-offset: 15px;
    text-underline-position: under;
}

.contacts h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
}

.contacts .contacts-content-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.contacts .contacts-content-item:last-child {
    margin-bottom: 0;
}

.contacts .contacts-content-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}
  
.contacts .contacts-content-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.contacts ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts li {
    font-size: 16px;
    line-height: 22px;
}

.contacts address {
    font-style: normal;
}

.contacts a {
    text-decoration: none;
    color: #163152;
}

.contacts .social-media-list {
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.contacts .social-media-item a:hover {
    opacity: 0.5;
}
  
.contacts .social-media-item a:active {
    opacity: 0.3;
}

.contacts-img {
    width: 670px;
}

.main-footer {
    margin-top: 120px;
    padding: 60px 55px;
}

.footer-container {
    width: 1170px;
    margin: 0 auto;
    padding: 0 55px;
    display: flex;
    justify-content: space-between;
}

.footer-navigation-topics {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.footer-coloumn {
    width: 175px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.logo-footer-img {
    width: 100px;
}

.footer-coloumn-title {
    width: 165px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.main-footer p {
    font-size: 10px;
    line-height: 12px;
}

.main-footer h2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
}

.main-footer .footer-coloumn-item {
    margin-bottom: 12px;
}

.main-footer a {
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    color: #163152;
}

.main-footer a:hover {
    color: rgba(22, 49, 82, 0.5);
}
  
.main-footer a:active {
    color: rgba(22, 49, 82, 0.3);
}